body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.thumbnailsleft img{
  width: 35px;
  height: 35px;
  margin: 1px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.thumbnailsright img{
  width: 35px;
  height: 35px;
  margin: 1px;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: red;
}

.right {
  right: 0;
  background-color: blue;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  margin: 5px;
  background-color: black;
  border: white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 5px;
  position: fixed;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}


.main{
  border: 2px solid #dddddd;
}

.info {
  display: solid;
  border: 2px solid black;
  margin: 80px;
  padding: 10px;
}

input[type=checkbox] {
  width: 40px;
  height: 40px;
}

.info img {
  border: 2px solid #dddddd;
  border-radius: 4px;
  width: 200px;
  height: 130px;
  margin-top: 10px;
  object-fit: cover;
  object-position: center;
}

.ourleft {
  height: 250px:
  width: 350px;
  display: solid;
  margin: 10px;
  padding: 10px;
}

.ourright {
  height: 250px:
  width: 350px;
  display: solid;
  margin: 10px;
  padding: 10px;
}

.buttons {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding: 20px;
}

.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.top {
  bottom:0;
  border-radius: 50px;
  font-size: 20px;
}

.top:hover {
  background-color: white;
  color: black;
}

