body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: red;
}

.right {
  right: 0;
  background-color: blue;
}



.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  background-color: black;
  border: white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 5px;
  position: fixed;
  font-size: 15px;
  font-weight: bold;
}

.main{
  border: 2px solid #dddddd;
}

.info {
  display: solid;
  border: 2px solid black;
  margin: 80px;
  padding: 10px;
}

input[type=checkbox] {
  width: 40px;
  height: 40px;
}

img {
  border: 2px solid #dddddd;
  border-radius: 4px;
  width: 100px;
  margin-top: 10px;
}

.ourleft {
  display: solid;
}

.ourright {
  display: solid;
}

.buttons {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding: 20px;
}

.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: white;
  color: black;
}
